@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {

    --background : #000000;
    --red : #C20000;
    --blue : #001F70;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font : font-family: 'Titillium Web', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: var( --font );
    font-size: 16px;
    background-color: var( --background );
}

img {
    width: 100%;
}

.topo {
    width: 100%;
    height: 5em;
}

.content {
    width: 85%;
    height: 100%;
    max-width: 75em;
    margin: auto;
}

.flex-center-bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo img {
    max-width: 19em;
}

.menu {
    width: 100%;
    max-width: 50em;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1,5em;
    padding: 0.9em 0.5em;
}

.menu a:hover {
    background-color: var( --red );
}

#menu-bars {
    display: none;
}

.banner {
    width: 100%;
    position: relative;
}

.banner-position {
    width: 100%;
    height: 37.5em;
    /* background-color: rgba(0, 0, 255, 0.164); */
    position: absolute;
    top: 0;

}

.banner-content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgba(222, 184, 135, 0.39); */
}

.banner-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-left: 100px;
}

.banner-text h1 {
    font-size: 3.8em;
}

.banner-text span {
    text-transform: uppercase;
}

.banner-text p {
    font-size: 1.5em;
}

.banner-text a {
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var( --red );
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}

.jogos {
    width: 100%;
    height: 7.5em;
    /* background-color: aliceblue; */
}

.jogos ul {
    list-style-type: none;
    width: 100%;
}

@media screen and (max-width: 74.93empx) {

}

@media screen and (max-width: 47.93em) {

}

@media screen and (max-width: 35.95em) {

}